<div class="jumbotron">
    <ul class="listgroup" *ngFor="let client of clients">
        <div class="panel panel-default">
            <div class="panel-body">
                {{client.name}} -- {{client.email}}
                <button class="btn btn-danger pull-right" (click)="deleteClient(client)">delete</button>
                <button class="btn btn-primary pull-right" (click)="onSelect(client)">Edit</button>
                <hr>
                <client-detail [client]="selectedClient" [hidden]="selectedClient !== client"></client-detail>
            </div>
        </div>
    </ul>
</div>

<div>
    <button class="btn btn-primary" (click)="addClient()">Add new client</button>
</div>

<client-detail [client]="newClient"></client-detail>

<toaster-container></toaster-container>
