<h3 style="text-align: center">Create a Task</h3>
<br>
<form class="full-width">
  <mat-form-field *ngIf="projectNotProvided">
    <mat-select placeholder="Project" required [(ngModel)]="project" name="priority">
      <mat-option *ngFor="let project of projects" [value]="project">
        {{project.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Task Name" [(ngModel)]="task.name" name="name" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" [(ngModel)]="task.description" name="description" rows="5" cols="50" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Status" required [(ngModel)]="task.priority" name="priority">
      <mat-option *ngFor="let priority of priorities" [value]="priority">
        {{priority}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="project-dialog-buttons">
    <div class="float-left">
      <button mat-raised-button (click)="closeDialog()">Cancel</button>
    </div>
    <div class="float-right">
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>
  </div>
</form>