<label>Tasks</label>
<div *ngIf="tasks.length === 0">
    No tasks for this project
</div>
<div *ngIf="tasks.length > 0">
    <accordion [closeOthers]="true">
        <accordion-group *ngFor="let task of tasks" [heading]="task.name" (click)="onSelect(task)">
            <task-details [task]="selectedTask" [editMode]="task.edit"></task-details>

        </accordion-group>
    </accordion>
</div>

<div style="margin-top:10px;">
    <task-upsert [heading]="'Add new task'" [buttonText]="'Add Task'" [task]="newTask" (taskModified)="taskModified($event)"></task-upsert>
</div>