<label>Tasks</label>
<div *ngIf="tasks.length === 0">
    No tasks for this project
</div>
<div *ngIf="tasks.length > 0">
    <accordion>
        <accordion-group *ngFor="let task of tasks" [heading]="task.name">
            <task-details [task]="task" [editMode]="selectedTask === task"></task-details>
            <div *ngIf="!selectedTask">
                <button class="btn btn-primary" (click)="editTask(task)">Edit</button>
            </div>
        </accordion-group>
    </accordion>
</div>
<div>
    <button class="btn btn-primary" (click)="addTask()">Add Task</button>
</div>
<div>
    <task-details [task]="newTask" [editMode]="true" (taskModified)="taskModified($event)"></task-details>
</div>