<div>
    <button type="button" class="btn btn-primary" (click)="showModal()">{{buttonText ? buttonText : 'Edit Task'}}</button>
</div>
<div bsModal #taskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{heading ? heading : 'Edit Task'}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" #taskDetailForm="ngForm" *ngIf="taskToModify">
                    <div class="form-group">
                        <label class="control-label col-xs-3">Name </label>
                        <div class="col-xs-9">
                            <input type="text" name="name" class="form-control" [(ngModel)]="taskToModify.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Priority </label>
                        <div class="col-xs-9">
                            <select [(ngModel)]="taskToModify.priority" name="priority" class="form-control" required>
                            <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Estimated Hours</label>
                        <div class="col-xs-9">
                            <input type="number" name="estimation" class="form-control" [(ngModel)]="taskToModify.estimation" min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Deadline </label>
                        <div class="col-xs-9">
                            <div class="input-group" dropdown dropdown-append-to-body>
                                <input type="text" class="form-control" name="deadline" value="{{taskToModify.deadline | date}}" />
                                <span id="btn-append-to-body" type="button" class="input-group-addon" dropdownToggle>
                                     <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <div class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                                    <datepicker name="datepicker-deadline" [showWeeks]="false" [(ngModel)]="taskToModify.deadline"></datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Description</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" name="description" [(ngModel)]="taskToModify.description"></textarea>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit" (click)="save()" [disabled]="!taskDetailForm.valid">Save</button>
                        <button class="btn btn-default pull-right" type="button" (click)="cancel()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>