<style>
    .tab-small > div.tab-content {
        min-height: 100px;
    }
</style>
<div class="" *ngIf="task">
    <tabset class="tab-small">
        <tab heading="Details">
            <div class="col-xs-6">
                <div class="">
                    <label>Priority: </label> {{task.priority}}
                </div>
                <div class="">
                    <label>Status: </label> {{task.status}}
                </div>
                <div class="">
                    <label>Estimated: </label> {{task.estimation}}
                </div>
                <div class="">
                    <label>Logged Hours: </label> {{task.loggedHours}}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="">
                    <label>Deadline: </label> {{task.deadline | date}}
                </div>
                <div class="">
                    <label>Created: </label> {{task.created | date}}
                </div>
                <div *ngIf="!task.finished">
                    <label>Updated: </label> {{task.edited | date}}
                </div>
                <div *ngIf="task.finished">
                    <label>Finished: </label> {{task.finished | date}}
                </div>
            </div>
            <div class="col-xs-12">
                <label>Description:</label> {{task.description}}
            </div>
        </tab>
        <tab heading="Work log">

        </tab>
        <tab heading="Comments">

        </tab>
    </tabset>
    <div *ngIf="!editMode" class="col-xs-12">
        <button class="btn btn-default" (click)="editTask(task)"><span class="fa fa-pencil" aria-hidden="true"></span> Edit</button>
    </div>
</div>