
  .projects-section{
    background-color: #23272A;
    height: 40%;
    width: 99%;
    position: fixed;
    bottom: 2px;
  }

  .active-section{
    background-color: #23272A;
    float: left;
    height: 59%;
    width: 75%;
  }

  .widget-section{
    background-color: #23272A;
    float: right;
    height: 59%;
    width: 24%;
  }    
