<div class="row">
    <div class="col-xs-6">
        <section>
            <label>Projects <span class="badge">{{projects ? projects.length: 0}}</span></label>
        </section>
        <section>
            <div class="well" *ngFor="let project of projects">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label class="label label-default">Name:</label> {{project.name}}
                    </li>
                    <li class="list-group-item">
                        <label class="label label-primary">Status:</label> {{project.status}}
                    </li>
                </ul>
                <div>
                    <button class="btn btn-default" (click)="viewTasks(project)">View Tasks</button>
                    <button class="btn btn-success pull-right" (click)="goToProject(project._id)">Edit</button>
                </div>
            </div>
        </section>
    </div>
    <div class="col-xs-6" *ngIf="selectedProject">
        <task-list [tasks]="selectedProject.tasks" (taskModifiedEvent)="taskModified()"></task-list>
    </div>
</div>
<div class="row" style="margin-top:25px;">
    <button class="btn btn-primary" (click)="goToProject('newProject')">Add project</button>
</div>