<div class="row">
    <section>
        <header>
            <h4>My Projects</h4>
        </header>
        <div class="">
            <p>Projects <span class="badge">{{projects ? projects.length: 0}}</span></p>
        </div>
    </section>
    <article class="col-xs-6">
        <section>
            <div class="well" *ngFor="let project of projects">
                <ul class="list-group" (click)="goToProject(project.id)">
                    <li class="list-group-item">
                        <label class="label label-default">Name:</label> {{project.name}}
                    </li>
                    <li class="list-group-item">
                        <label class="label label-default">Status:</label> {{project.status.name}}
                    </li>
                </ul>
            </div>
        </section>
    </article>
</div>
<div class="row" style="margin-top:25px;">
    <button class="btn btn-primary" (click)="goToProject(0)">Add project</button>
</div>