.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color:#7289DA;
	text-align: center;
	transition: 0s border-radius;
	
}
.circle:hover{
	border-radius:30%;
	transition-delay:0.2s;
}

.project-bubble {
	float:left;
	margin:5px; 
	cursor: pointer;

	.circle-content {
		padding-top: 36px;
		font-size: medium;
	}

	.circle-add {
		font-size: 48px;
   		padding-top: 20px;
	}
}

.project-content{
	padding:20px;
}

