.project-content{
    height: 100%;

    .project-section{
        width: 96.5%;
        height: 20%;
        background-color: #F4F5F7;
        margin-bottom: 5px;
        border-radius: 1%;
        color: #5E6C84;
        padding: 10px;
        margin-top: 5px;
    }

    .task-section{
        width: 99.5%;
        height: 75%;
        background-color: #FFFFFF;
        border-radius: 1%;
        color: #5E6C84;
        max-height: 540px;
        overflow-y: auto;

        .task-column{
            height: auto;
            float: left;
            margin: 0.5%;
            border-radius: 6px;
            
            .task-column-header{
                height: 28px;
                border-radius: 6px;
                background-color: #F4F5F7;
                text-align: center;
                width: 100%;
            }
            
            .task-column-content{
                margin-top: 7px;
                width: 100%;
                height: 94%;
                background-color: #F4F5F7;
                border-radius: 6px;
                padding: 1px;
                min-height: 170px;
            }
        }

        .task-card {
            border-radius: 8px;
            margin: 2%;
        }
    }
}

/* Draggable*/

.drag-border {
    border: #ff525b dashed 2px;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    border: #3c763d dashed 2px;
}

.drag-over-border {
    border: #fbbc05 dashed 2px;
}

.drag-transit {
    border: #3500FF dashed 2px;
}

.float-right{
    float: right;
}

.float-left {
    float: left;
}
